[submodule "arduino/sdk"]
	path = arduino/sdk
	url = https://github.com/adiog/embed-arduino-sdk
[submodule "arduino/std"]
	path = arduino/std
	url = https://github.com/adiog/embed-sparkfun-std
[submodule "deps/snoo-cue-protocol"]
	path = deps/snoo-cue-protocol
	url = /home/adiog/workspace/snoo-cue-protocol/
[submodule "deps/KalmanFilter"]
	path = deps/KalmanFilter
	url = https://github.com/adiog/embed-KalmanFilter
