[submodule "arduino/sdk"]
	path = arduino/sdk
	url = https://github.com/discowtmh/embed-arduino-sdk
[submodule "arduino/std"]
	path = arduino/std
	url = https://github.com/discowtmh/embed-arduino-std
[submodule "deps/xinput"]
	path = deps/xinput
	url = https://github.com/discowtmh/XInputPadMicro
