[submodule "arduino/sdk"]
	path = arduino/sdk
	url = https://github.com/adiog/embed-arduino-sdk
[submodule "arduino/std"]
	path = arduino/std
	url = https://github.com/adiog/embed-sparkfun-std
[submodule "deps/xinput"]
	path = deps/xinput
	url = https://bitbucket.org/locomotor/artifact-XInputPadMicro
